<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        .product { display: flex; justify-content: space-between;}
    </style>
</head>
<body>
    <h1> <%=category%>  Products </h1>
    <ul>
        <% for(let product of products) { %> 
            <div class="product">
                <a href="/products/<%=product._id%>"> <li> <%=product.name%> </li>  </a>
            </div>
            
        <% } %> 
    </ul>
    <br>
    <a href="/products/new"> Add a product </a>

    <br>
    <% if (category !=="All") {%> 
    <a href="/products"> All products </a>
    <% } %> 
</body>
</html>